@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Droid+Sans+Mono|PT+Sans+Narrow');

/* Colors */
html, body, #sidebar-nav {
    background-color: #673AB7;
    color: #ffffff;
}
#sidebar a, #sidebar, .editor-toolbar > a {
    color: #ffffff;
    border: none;
    text-decoration: initial;
}
.editor-toolbar > a {
    color: #ffffff !important;
}

b {
    color: #F783CF;
}

.editor-toolbar a.active, .editor-toolbar a:hover {
    border-color: #4527A0;
    background-color: rgba(196, 251, 245, 0.2);
    outline: none;
}
#sidebar-nav > span.divider, .main, table thead {
    border-color: #ffffff;
}
a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px dotted;
    cursor: pointer;
}
a:hover {
    border-bottom-style: solid;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}

#email-rendered {
    background-color: #4527A0;
    border: 1px solid #ffffff;
}

/* Buttons */
.btn, [type=submit], button, .accepted-btn-false {
    background-color: #ffffff;
    border: 1px solid #fff; 
    color: #4527A0;
}

/* Fonts */
body, swal2-content, form > p, fieldset > div > label {
    font-family: "Droid Sans Mono";
}
fieldset > div > label {
    font-size: 90%;
}
/*h1, h2, h3, h4, h5, h6, code, #sidebar a, #sidebar, label {
    font-family: 'Libre Barcode 39 Text', cursive;
}*/
/* h1, h2, h3 { */
/*     font-family: 'Libre Barcode 39 Text', cursive; */
/* } */

h4, h5, h6, code, #sidebar a, #sidebar, label, #sidebar > h1 {
    font-family: 'PT Sans Narrow', sans-serif;
}

#sidebar > h1 {
    text-decoration: underline;
}

code {
    color: #4527A0;
}

/* Form elements */
input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=reset]), select, fieldset, textarea {
    background-color: #4527A0;
    color: white;
    border-color: #ffffff;
    font-family: "Droid Sans Mono";
}
input:not([type=submit]):not([type=radio]):not([type=checkbox]):not([type=reset]):focus, textarea:focus, textarea[type=text]:focus {
    border-color: white;
}
input:disabled, textarea:disabled {
    background: repeating-linear-gradient(45deg, #4527A0, #4527A0 10px, #192729 10px, #192729 20px )
}
